.banner {
  background-image: url("https://i.ibb.co/4PBz4K3/Uluru-Orion-Liu-1080.jpg");
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 30px 0;
}

h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 90%;
}
