.list-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}
.image-container {
  width: 200px;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ImageList-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

.images-container {
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .image-card {
    width: 90%;
    height: 200px;
    margin: 10px;
  }
  .image-cardcontainer {
    width: 90%;
    margin: 10px;
  }
}
