/*STYLING OF COUNTDOWN COMPONENT*/

.h2-countdown {
    color: #1b0317;
}

.countdown-desktop {
    border: 2px solid #7b1b7a;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}

.countdown-img {
    width: 100px;
    height: 100px;
    margin: 0px;
}

.countdown-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.flight-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.flight-from,
.flight-to,
.flight-ship,
.flight-airline {
    width: 150px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.timer {
    font-family: "Audiowide", cursive;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

tr {
    width: 700px;
}

th {
    background-color: #7b1b7a;
    color: white;
    width: 25%;
}

td {
    width: 25%;
    text-align: center;
}

/*STYLING OF  IMAGE COMPONENT*/

.img-hd {
    width: 100%;
}

.img-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.img-title {
    text-align: center;
}

.img-explanation {
    text-align: justify;
}

.add-favorite {
    background-color: violet;
    border: 1px solid #7b1b7a;
    border-radius: 15px;
    margin: 5px;
    padding: 6px;
}

@media only screen and (max-width: 600px) {
    .timer {
        font-family: "Audiowide", cursive;
        font-size: 15px;
    }

    tr {
        width: 250px;
    }
}
